
<div id="container" (scroll)="scroll($event)" #scrollelement>
    <app-add-suggestion (reloadSuggestion)="loadSuggestions()"> </app-add-suggestion>
    <div  *ngFor="let page of Pages">
        <div class="shadow-xl mt-3 mx-3 p-4 rounded-md outline outline-slate-900 flex" *ngFor="let suggestion of page.content">
            <app-like-btn [suggestion]="suggestion"></app-like-btn>
            <div class="ml-2">
                <p class="text-lg font-semibold">{{suggestion.text}}</p>
                <app-comments [suggestion]="suggestion" class="min-w-full"></app-comments>
            </div>
        </div>
    </div>
</div>
