

<div class="flex flex-row my-2">
    <button (click)="revealForm()" [hidden]="!isFormHidden" class="outline outline-blue-500 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 mx-2 rounded self-center">Add Comment</button><br>
    <button (click)="getComments(currentPageNumber)"  [hidden]="!isFirstPage" class="outline outline-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 mx-2 rounded self-center">See Comments</button>
    <button (click)="hideComments()" [hidden]="commentsHidden" class="outline outline-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 mx-2 rounded self-center">Hide Comments</button>
</div>

    <form [hidden]="isFormHidden" (ngSubmit)="addComment(form)" #form="ngForm" >
        <label for="newComment" class="text-lg text-black">Your Comment:</label>
        <textarea class="w-full h-20 p-2 border rounded outline focus:outline focus:ring-gray-300 focus:ring-1" name="newComment" type="text" ngModel> </textarea>

        <button type="submit" class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 mx-2 rounded self-center">Add</button>
        <button type="button" (click)="revealForm()">Cancel</button>
    </form>




<div *ngFor="let comment of comments of comments" [hidden]="commentsHidden" 
class="bg-gray-100 dark:bg-gray-700 rounded-xl px-4 py-2 my-4">
    <p class="text-normal leading-snug md:leading-normal">{{comment.text}}</p>
</div>

<div class="min-w-full flex justify-center ml-2">
    <p hidden="true" #noComments class="text-center font-bold ">No comments</p>
    <button [hidden]="commentsHidden || isLastPage" (click)="getComments(currentPageNumber)">Load More Comments</button>
</div>
