<div>
    <svg id="thumb-{{suggestion.suggestionId}}" class="h-8 w-8 text-black" (click)="like(suggestion)"  viewBox="0 0 24 24" 
    stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round" fill="red">  
    <g [attr.fill]="hasBeenLiked ? 'green' :  'none'">
        <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3" />
    </g>
    </svg>
    <h5 class="text-center">{{suggestion.likes}}</h5>
</div>
